{% extends 'base.html.twig' %}

{% block title %}Recherche | Bank Connect{% endblock %}

{% block body %}
    {% include 'template.html.twig' %}
<body class="search-bar-page">
    <header>
        <!-- Barre de recherche -->
        <form action="{{ path('app_recherche') }}" method="get" style="display: flex; align-items: center; flex-grow: 1;">
            <input type="text" id="search-box" name="recherche" placeholder="Chercher">
            <select id="filter-box" name="filter">
                <option value="none">Sans filtre</option>
                <option value="user">Utilisateur</option>
                <option value="objet">Objet connecté</option>
                <option value="infos">Infos</option>
            </select>
            <button id="button-box" type="submit">
                <img src="{{ asset('icones/black/026-search.png') }}" alt="Chercher">
            </button>
        </form>

        <!-- Bouton de changement de thème -->
        <button id="theme-toggle" type="button" onclick="toggleTheme()">
        {% if app.user is not null %}
            <img id="theme-icon" src="{{ asset(app.user.color == 1 ? 'icones/black/sun.png' : 'icones/white/moon.png') }}" alt="Changer de thème">
        {% else %}
            <img id="theme-icon" src="{{ asset('icones/black/sun.png') }}" alt="Changer de thème">
        {% endif %}
        </button>
    </header>

    
</body>
{% endblock %}
